.footer-wrapper {
    position: relative;
    * {
        color: $white;
    }
    .footer-content {
        background: $primary;
        .footer-links-wrap {
            .footer-logo-wrap {
                display: flex;
                align-items: center;
                margin: 0;
                font-size: $font-size-base;
                font-weight: 700;
                img {
                    height: 70px;
                    margin-right: ($grid-gutter-width / 2); 
                }
            }
            .footer-link-block {
                list-style: none;
                padding: 0;
                margin: 0;
                .footer-link-item {
                    a {
                        color: $white;
                        font-size: $font-size-base;
                        padding-left: ($grid-gutter-width);
                        position: relative;
                        line-height: 2;
                        &:before {
                            content: "\f105";
                            position: absolute;
                            font-family: FontAwesome;
                            left: 10px;

                        }
                        &:hover {
                            text-transform: none;
                        }
                    }
                }
            }
        }
    }
    .footer-rights {
        background: lighten($primary, 20%);
        font-size: $font-size-base;
        font-weight: 500;
        color: $white;
    }
    .footer-credits {
        background: lighten($primary, 40%);
        font-size: $font-size-base;
        font-weight: 500;
        color: $white;
    }
}