.sidebar__block {
    width: 100%;
    position: relative;
    .sidebar__button {
        position: fixed;
        left: 30px;
        top: 15px;
        z-index: 999;
        &.sidebar__open {
            left: 16%;
        }
    }
    .sidebar__wrapper {
        display: none;
        position: fixed;
        width: 100%;
        background: $primary;
        z-index: 99;
        height: 100vh;
        box-shadow: 0px 0 10px 0 $primary;
        padding-right: 0;
        .sidebar__inner {
            position: relative;
            height: 100%;
            // border-right: 2px solid $primary;
            .sidebar__logo {
                width: 40%;
            }
            .sidebar__list {
                list-style: none;
                margin: 0;
                padding: 0;
                .list__item {
                    color: $secondary;
                    font-size: 18px;
                    padding: ($grid-gutter-width / 3) 0;
                    position: relative;
                    text-transform: uppercase;
                    letter-spacing: 1px; 
                    &:after {
                        content: "";
                        position: absolute;
                        width: calc(100%);
                        border-bottom: 1px dashed darken($secondary ,30%);
                        left: -15px;
                        bottom: 0;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        width: 20px;
                        bottom: 7px;
                        border-bottom: 1px dashed $primary;
                        right: -3px;
                        transform: rotate(-45deg);
                        display: none;
                    }
                }
            }
            .sidebar__social {
                position: relative;
                margin-top: ($grid-gutter-width * 2);
                &:after {
                    content: "";
                    position: absolute;
                    width: calc(100% + 15px);
                    height: 100%;
                    background: $secondary;
                    top: 0;
                    z-index: -9;
                    left: -15px;
                }
                .social__list {
                    @include flexbox();
                    padding: ($grid-gutter-width / 3) 0;
                    .list__item {
                        height: 40px;
                        width: 40px;
                        margin-right: ($grid-gutter-width / 3);
                        background: $primary;
                        border-radius: 50%;
                        &__link {
                            height: 100%;
                            width: 100%;
                            @include flexbox();
                            @include justify-content(center);
                            @include align-items(center);
                            i {
                                color: $secondary;
                            }
                        }
                    }
                }
            }
        }
    }
}