$primary: #1d213b;

.product-row {
  margin-top: 20px;
  margin-bottom: 20px;
  .product-img__wrapper {
    img {
    width: 100%;
    }
  }
  .product-desc__wrapper {
    .product__title {
      font-weight: 600;
    }
    .product__info {
      .product__category {
        &--name {
          background: $primary;
          color: $white;
          padding: ($grid-gutter-width / 10) ($grid-gutter-width / 3);
          border-radius: 10px;
          margin-right: ($grid-gutter-width / 4);
        }
      }
      .product__tags {
        &--name {
          a {
            color: #fff;
            &:hover {
              text-decoration: none;
            }
          }
          background: $primary;
          padding: ($grid-gutter-width / 10) ($grid-gutter-width / 3);
          border-radius: 10px;
          margin-right: ($grid-gutter-width / 4);
        }
      }
      .product__info--inner {
        margin-right: 45px;
        .product__info--title {
          position: relative;
          margin-bottom: ($grid-gutter-width / 3);
          span {
            font-weight: 500;
            font-size: 18px;
          }
          &:after {
            content: '';
            position: absolute;
            border-bottom: 1.5px solid #212529;
            width: 100%;
            left: 0;
            bottom: -2px;
          }
        }
      }
    }
    .product__description {
      margin-top: 15px;
      p {
        &:first-letter {
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
    .product__price {
       font-size: 20px;
       margin-bottom: ($grid-gutter-width / 2);
      &--title {
        margin-right: ($grid-gutter-width / 6);
      }
      &--desc {
          position: relative;
          padding-left: ($grid-gutter-width * 0.8333);
          &:before {
              content: url("./../../dist/images/rupee.png");
              position: absolute;
              left: 0;
              top: 0;
              width: 20px;
          }
      }
    }
    .product__actions {
        .btn {
            margin-right: ($grid-gutter-width / 1.5);
        }
    }
  }
}